.main-nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}
.navbar-btn{
    border:none;
    background-color: transparent;
}
.navbar-btn:hover{
    color: red;
}